.button {
    padding: 10px 15px;
    border: none;
    background-color: #b4004e;
    color: white;
    min-width: 100px;
    box-sizing: border-box;
    /* max-width: 200px;
    height: 50px; */
}

.button-secondary {
    padding: 10px 15px;
    border: solid 1px #b4004e;
    color: black;
    background-color: transparent;
    min-width: 100px;
    box-sizing: border-box;
}

.button:disabled,
.button-secondary:disabled {
    border: none;
    background-color: grey;
    color: darkgray;
}