input {
    display: block;
    padding: 10px;
    margin-top: 10px;
}

input:disabled {
    background-color: lightgray;
}

.input-active-error {
    outline: 2px solid red;
}

input:focus {
    outline: 2px solid blue;
}

.input-secondary:focus {
    outline: 2px solid green;
}

.error {
    color: red;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}